### Java
*.class

### Pascakge files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

### Logs
*.log
debug.log
target/
logs/
testTracing/
videos/

### Maven ###
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next

dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

config.properties
log4j2.properties
release.properties
*.puml

### virtual mashine crash logs
hs_err_pid*
replay_pid*

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store